<div class="container">
  <div class="row">
    <div class="col-md-7">
      <form #form="ngForm" (ngSubmit)="save(form.value)">
        <div class="form-group">
          <label for="title">Title</label
          ><input
            #title="ngModel"
            ngModel
            name="title"
            id="title"
            [(ngModel)]="productService.selectedProduct.title"
            type="text"
            class="form-control"
            required
          />
          <small class="invalid-input" *ngIf="title.touched && title.invalid"
            >Please enter valid Title</small
          >
          <small
            class="invalid-input"
            *ngIf="title.touched && productService.isDuplicate == true"
            >Duplicate Product. Please enter valid product</small
          >
        </div>
        <input
          type="hidden"
          id="titleLower"
          name="titleLower"
          #titleLower="ngModel"
          ngModel
          value="{{ title.value | lowercase }}"
        />
        <div class="form-group">
          <label for="price">Price</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Rs.</span>
            </div>
            <input
              #price="ngModel"
              ngModel
              [(ngModel)]="productService.selectedProduct.price"
              name="price"
              id="price"
              type="number"
              class="form-control"
              required
            />
          </div>
          <small
            class="invalid-input"
            *ngIf="price.touched && price.invalid && price.value == ''"
            >Please enter valid Price</small
          >
          <small class="invalid-input" *ngIf="price.touched && price.value < 0"
            >Price should be or greater than ZERO</small
          >
        </div>
        <div class="form-group">
          <label for="category">Category</label
          ><select
            #category="ngModel"
            ngModel
            [(ngModel)]="productService.selectedProduct.category"
            name="category"
            id="category"
            type="number"
            class="form-control"
            required
          >
            <option value=""></option>
            <option *ngFor="let item of categories" [value]="item.$key">{{
              item.name
            }}</option>
          </select>
          <small
            class="invalid-input"
            *ngIf="category.touched && category.invalid && category.value == ''"
            >Please select category</small
          >
        </div>
        <div class="form-group">
          <label for="imageUrl">Image Url</label
          ><input
            #imageUrl="ngModel"
            [(ngModel)]="productService.selectedProduct.imageUrl"
            ngModel
            name="imageUrl"
            id="imageUrl"
            type="text"
            class="form-control"
            required
          />
          <small
            class="invalid-input"
            *ngIf="imageUrl.touched && imageUrl.invalid"
            >Please enter valid Image URL</small
          >
        </div>
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary mr-4">
          Save
        </button>
        <a type="button" class="btn btn-primary" routerLink="/admin/products">
          Back
        </a>
      </form>
    </div>
    <div class="col-md-5">
      <div class="card" style="width: 18rem; height: 25rem;">
        <img [src]="imageUrl.value" class="card-img-top" height="80%" />
        <div class="card-body">
          <h5 class="card-title">{{ title.value }}</h5>
          <p class="card-text">{{ price.value | currency: "PKR. ":true }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
